.process-state-name {
	fill: black;
}
.process-state-rect, .process-action-rect {
	border-radius: 10px;
	stroke: #ccc;
	stroke-width:1;
	cursor: pointer;
}
.process-state-rect {
	rx: 10px;
	ry: 10px;
}
text {
	pointer-events: none;
}
.draggable {
	cursor: pointer;
}

.resizer {
	stroke-width: 1;
	cursor: pointer;
}
.mapper {
	cursor: pointer;
}
.automatic {
	stroke-width: 2;
	stroke-dasharray: 10 0 10 0 10;
	&.synchronous {
		/*stroke-dasharray: 4;*/
	}
}

.drop-highlight {
	stroke-width: 4 !important;
}

.process-state:not(.selected) .process-state-rect {
	stroke-width: 2;
}
.process-state.selected .process-state-rect {
	stroke-width: 4;
}

.process-state.used .process-state-rect {
	stroke-width: 6;
	stroke: #ccc !important;
}

.process-action:not(.selected) .process-action-rect {
	stroke-width: 2;
}
.process-action.selected .process-action-rect {
	stroke-width: 4;
}

.process-action.used .process-action-rect {
	stroke-width: 6;
	stroke: #ccc !important;
}

.selected > .selectable {
	stroke-width: 4;
}

.reference text, .timeout text {
	font-family: Monospace;
	font-weight: bold;
}

.process-action-name, .process-state-name {
	font-weight: bold;
}

.process-action.optional rect {
	stroke-dasharray: 3;
}

.relation.used {
	stroke-width: 6;
	stroke: #ccc !important;
}
// state relations can render in unfortunate locations that can not be easily remedied
.state-relation {
	opacity: 0.3;
}
.state-relation.selected {
	opacity: 1;
}

.relation.type-not {
	stroke: #f7a0a0;
	stroke-dasharray: 3;
}
.relation.type-flow-stop {
	stroke-dasharray: 3 1 3;
}
.relation.type-flow-start {
	stroke-dasharray: 3;
}
.relation.type-flow-failed {
	stroke: #f7a0a0;
}
.relation.type-reset {
	stroke: steelblue;
}
.finalizer, .any, .all {
	stroke-width: 2;
}

.any {
	stroke-dasharray: 3;
}

defs path {
	fill: inherit !important;
	stroke: inherit !important;
	stroke-width: 2px !important;
}

[route="process-modeler-component"] {
	width: calc(100% - 24rem);
	min-height: 75vh;
}

.process-modeler-form {
	position: absolute;
	overflow: auto;
	max-height: 85%;
	right: 0;
	.mouse-mode {
		.is-icon {
			display: none;
		}
		input {
			max-width: 7rem;
			width: 100% !important;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}